{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">类型：</td> 
					<td><?php echo getFieldVal($info["wservice_type"],"内部小程序|1,外部小程序|2,网页|3");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">名称：</td> 
					<td>{$info.wservice_name}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">图标：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.wservice_icon}')"><img height="75" src="{$info.wservice_icon}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">appid：</td> 
					<td>{$info.wservice_appid}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">url：</td> 
					<td>{$info.wservice_url}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">排序：</td> 
					<td>{$info.wservice_sort}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
