.big-box {
	.background {
		width: 100%;
		height: 352rpx;
		background: rgb(33, 207, 62);
		opacity: 0.2;
		box-shadow: 0px 8rpx 374rpx rgb(58, 137, 254);
		filter: blur(120rpx);
		position: absolute;
		top: 0;
		left: 0;
	}
	.content {
		position: relative;
		z-index: 10;
	}
	
	.top-box {
		position: fixed;
		top: 0;
		/* #ifdef H5 */
		top: 88rpx;
		/* #endif */
		left: 0;
		z-index: 10;
		width: 100%;
		background-color: initial;
		transition: background-color 0.6s;
		.tab-list {
			height: 86rpx;
			display: flex;
			align-items: center;
			justify-content: space-around;
			.tab-item {
				font-size: 32rpx;
				color: #1d2129;
				height: 100%;
				display: flex;
				align-items: center;
			}
			.tab-item-on {
				color: #21CF3E;
				font-weight: 500;
				position: relative;
				&::before {
					position: absolute;
					content: '';
					bottom: 0;
					left: 50%;
					width: 48rpx;
					height: 4rpx;
					background: #21CF3E;
					border-radius: 4rpx;
					transform: translate(-50%, 0);
				}
			}
		}
		.search-box {
			margin: 36rpx 30rpx;
			height: 90rpx;
			background: rgba(255, 255, 255, 0.7);
			border: 1px solid rgb(255, 255, 255);
			box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.2);
			border-radius:50px;
			display: flex;
			align-items: center;
			overflow: hidden;
			.icon {
				padding-left: 50rpx;
			}
			.search-input {
				flex: 1;
				height: 100%;
				margin-left: 50rpx;
				font-size: 28rpx;
				color: #444444;
			}
		}
	}
	.top-box-active {
		background-color: #F7F7FA;
		transition: background-color 0.6s;
		box-shadow: 0rpx -30rpx 100rpx rgba(117, 160, 232, 0.5);
	}
	.list {
		padding-bottom: 260rpx;
		position: relative;
		z-index: 1;
		.item {
			height: 170rpx;
			background: #fff;
			margin: 36rpx 30rpx 0;
			border-radius: 24rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 50rpx;
			.left-box {
				display: flex;
				align-items: center;
				.user-img {
					width: 80rpx;
					height: 80rpx;
					border-radius: 50%;
				}
				.user-info {
					display: flex;
					align-items: center;
					.user-name {
						font-size: 28rpx;
						flex-shrink: 0;
					}
					.phone {
						margin-left: 40rpx;
						font-size: 28rpx;
						color: #999999;
					}
					.iconfont {
						margin-left: 30rpx;
						font-size: 36rpx;
					}
				}
			}
			.right-box {
				margin-left: 30rpx;
				.add-btn, .delete-btn {
					width: 132rpx;
					height: 50rpx;
					background: #21CF3E;
					border-radius: 50rpx;
					font-size: 24rpx;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.delete-btn {
					background: #FF0000;
					margin-top: 8rpx;
				}
			}
		}
	}
}
.bottom-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #F7F7FA;
	padding-bottom: 60rpx;
	z-index: 30;
	padding-top: 30rpx;
	.btn {
		margin: 0 30rpx;
		height: 90rpx;
		background: #21CF3E;
		background: rgb(33, 207, 62);
		box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.3);
		border-radius:100rpx;
		font-size: 28rpx;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

::v-deep .placeholder {
	color: red;
	font-size: 28rpx;
	color: #999999;
}