/.idea/
/.vscode/

weimenjin_app/node_modules/
weimenjin_app/unpackage/
weimenjin_app/.hbuilderx/

weimenjin_admin/runtime/
weimenjin_admin/.idea/
weimenjin_admin/.env
weimenjin_admin/public/doc/
weimenjin_admin/public/qrdata/qrcode/
weimenjin_admin/public/.well-known/
weimenjin_admin/public/.user.ini
weimenjin_admin/extend/utils/wechart/zcerts/*.pem
!weimenjin_admin/extend/utils/wechart/zcerts/README.md
weimenjin_admin/public/updates/weimenjin_update_*.zip
