.big-box {
	height: 100%;
	.background {
		width: 100%;
		height: 352rpx;
		background: rgb(33, 207, 62);
		opacity: 0.2;
		box-shadow: 0px 8rpx 374rpx rgb(58, 137, 254);
		filter: blur(120rpx);
		position: absolute;
		top: 0;
		left: 0;
	}
	.content {
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		z-index: 10;
		.top-box {
			flex: 1;
			margin: 0 30rpx;
			.cell-item {
				display: flex;
				align-items: center;
				// justify-content: space-between;
				height: 140rpx;
				background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.4) 100%);
				box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.2);
				border-radius:24rpx;
				margin-top: 36rpx;
				padding: 0 50rpx;
				overflow: hidden;
				.flex-box {
					
					display: flex;
					align-items: center;
					flex: 1;
				}
				image {
					width: 30rpx;
					height: 30rpx;
					padding: 20rpx 0 20rpx 20rpx;
					margin-left: 20rpx;
				}
				.label {
					font-size: 28rpx;
					flex-shrink: 0;
				}
				input {
					font-size: 28rpx;
					flex: 1;
					margin-left: 30rpx;
					height: 100%;
				}
				.text {
					font-size: 28rpx;
					color: #999999;
				}
			}
		}
		.bottom-btn {
			margin: 0 30rpx 60rpx;
			height: 90rpx;
			background: rgb(33, 207, 62);
			box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.3);
			border-radius:100rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 28rpx;
			color: #fff;
		}
	}
	
}
::v-deep .placeholder {
	font-size: 28rpx;
	color: #999999;
}