.after-sale {
	background: rgba(247, 247, 247, 1);
	margin: 0 0 10% 0;
}

.orderNum {
	font-size: 28rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	padding: 2% 3%;
	border-bottom: 1rpx solid rgba(229, 229, 229, 0.8);
	background: rgba(255, 255, 255, 1);
	margin: 3% 0 0 0
}

.order_list {
	background: rgba(255, 255, 255, 1)
}

.order_item {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #E5E5E5;
}

.order_info {
	display: flex;
	padding: 3% 3% 0
}

.order_info image {
	width: 120rpx;
	height: 120rpx;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	margin: 0 0 0 3%
}

.dealButton {
	/*    display: flex;
    justify-content: flex-end; */
	padding: 2% 3%;
	/* border-bottom: 1px solid rgba(229, 229, 229, 1); */
}

.applyBtn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2% 0;
}

.applyBtn view {
	width: 50%;
}

.btn {
	text-align: end;
}

.changeP {
	color: #DF5959;
	background: white;
	border: 1px solid #DF5959;
	margin: 0 10rpx 0;
}

.returnP {
	color: rgba(255, 255, 255, 1);
	background: #DF5959;
	border: 1rpx solid #DF5959;
	margin: 0 10rpx 0;
}

.returned {
	color: rgba(204, 204, 204, 1);
	background: rgba(255, 255, 255, 1);
	border: 1rpx solid rgba(204, 204, 204, 1);
}

._returned {
	text-align: end;
}

.returnedDetail {
	padding: 2% 0 0;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.fold {
	text-align: end;
	margin-top: 10px;
	margin-right: 30rpx;
}

.fold .iconfont {
	display: inline-block;
	font-size: 8rpx;
	/* transform: rotate(-90deg); */
}

.detail {
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	width: 15%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* width: 100%; */
/* 	width: 50rpx; */
	margin-top: 10px;
	padding-right: 30rpx;
}

.detail .iconfont {
	display: inline-block;
	font-size: 24rpx;
	transform: rotate(90deg);
	margin: 0 0 0 2%
}

.returning {
	border: 1px solid rgba(223, 89, 89, 1);
	background: rgba(255, 255, 255, 1);
	font-size: 28rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(223, 89, 89, 1);
}
.apply-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

._returned {
	width: 100%;
}

.returning_process {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 2% 0;
	border-top: 1rpx solid rgba(204, 204, 204, 0.8);
}

.answer_content {
	padding: 0 0 0 3%;
}

.answer {
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	/* width: 80%; */
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.detail-folder {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.folder {
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}


.returnedDetail {
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

.toast {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center
}

.toast image {
	width: 15%;
	height: 40px;
	margin: 0 0 0 5%
}

.toast_content {
	background: white;
	width: 80%;
	border-radius: 16px;
}

.title {
	display: flex;
	justify-content: space-between;
	padding: 2% 5%;
	font-size: 28rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
}

.productInfo {
	display: flex;
	padding: 2% 0 4%
}

.info_txt {
	display: flex;
	flex-direction: column;
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	justify-content: space-between;
	margin: 0 0 0 2%
}

.inputReason {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background: rgba(244, 244, 244, 1);
	font-size: 28rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);
}

.input {
	width: 95%;
	border: none;
	background: rgba(244, 244, 244, 1);
	padding: 2% 0 0 0
}

.limit {
	font-size: 0.75rem;
	padding: 2% 3% 0
}

.submit {
	text-align: center;
	font-size: 32rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	padding: 3%
}

button {
	position: relative;
	display: inline-block;
	margin-left: unset;
	margin-right: unset;
	padding-left: 25rpx;
	padding-right: 25rpx;
	padding-top: 15rpx;
	padding-bottom: 15rpx;
	box-sizing: border-box;
	font-size: 28rpx;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	border-radius: 50rpx;
	-webkit-tap-highlight-color: transparent;
	overflow: hidden;
	color: #000000;
	background-color: #fff;
	border: none
}

.price_shop {
	font-size: 32rpx;
	font-family: PingFang SC;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	padding: 0 0 0 5%;
}
