/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; 
 /* src: url('https://at.alicdn.com/t/c/font_4165096_n74cxpjanxe.woff2') format('woff2'),
         url('https://at.alicdn.com/t/c/font_4165096_n74cxpjanxe.woff') format('woff'),
         url('https://at.alicdn.com/t/c/font_4165096_n74cxpjanxe.ttf') format('truetype'); */
  src: url('https://wxapp.wmj.com.cn/static/fonts/font_4165096_n74cxpjanxe.woff2') format('woff2'),
		url('https://wxapp.wmj.com.cn/static/fonts/font_4165096_n74cxpjanxe.woff') format('woff'),
       url('https://wxapp.wmj.com.cn/static/fonts/font_4165096_n74cxpjanxe.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laba:before {
  content: "\e626";
}

.icon-shanchu:before {
  content: "\e621";
}

.icon-renlianshibie:before {
  content: "\e60b";
}

.icon-shandian:before {
  content: "\e65c";
}

.icon-yewucaozuo:before {
  content: "\e64a";
}

.icon-yuechi:before {
  content: "\e612";
}

.icon-mima:before {
  content: "\e60e";
}

.icon-menjin:before {
  content: "\e672";
}

.icon-shezhi:before {
  content: "\e6f4";
}

.icon-zhiwen:before {
  content: "\e613";
}

.icon-bangzhu:before {
  content: "\e617";
}

.icon-bukejian:before {
  content: "\e671";
}

.icon-kejian:before {
  content: "\e63e";
}

.icon-canshu:before {
  content: "\e642";
}

.icon-a-zhuanyi2:before {
  content: "\eaba";
}

.icon-shebei:before {
  content: "\e644";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-dingwei:before {
  content: "\e8ae";
}

