.big-box {
	.background {
		width: 100%;
		height: 352rpx;
		background: rgb(33, 207, 62);
		opacity: 0.2;
		box-shadow: 0px 8rpx 374rpx rgb(58, 137, 254);
		filter: blur(120rpx);
		position: absolute;
		top: 0;
		left: 0;
	}
	.content {
		position: relative;
		z-index: 10;
		
		.list {
			padding-bottom: 250rpx;
			padding-top: 36rpx;
			.item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 140rpx;
				background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.6) 100%);
				box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.2);
				border-radius:24rpx;
				margin: 0 30rpx 36rpx;
				padding: 0 50rpx;
				box-sizing: border-box;
				.family-name {
					font-size: 24rpx;
					color: #444444;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
				}
				.right-box {
					display: flex;
					align-items: center;
					margin-left: 40rpx;
					flex-shrink: 0;
					.flex-box {
						display: flex;
						align-items: center;
						font-size: 28rpx;
						.number {
							color: #21CF3E;
							font-weight: 500;
						}
						.text {
							color: #999999;
							margin-left: 6rpx;
						}
					}
					.icon-img {
						width: 16rpx;
						height: 22rpx;
						margin-left: 20rpx;
					}
				
				}
			}
		}
		.bottom {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #F7F7FA;
			padding-bottom: 60rpx;
			z-index: 30;
			padding-top: 30rpx;
			.btn {
				margin: 0 30rpx;
				height: 90rpx;
				background: #21CF3E;
				background: rgb(33, 207, 62);
				box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.3);
				border-radius:100rpx;
				font-size: 28rpx;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}