
.orderNum{
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    padding: 2% 3%;
    border-bottom:1rpx solid rgba(229,229,229,0.8);
    background:rgba(255,255,255,1);
    margin: 3% 0 0 0;
	display: flex;
	justify-content: space-between;
}
.name {
	color: black;
	font-size: 24rpx;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}
.order_list{
    background: rgba(255,255,255,1)
}
.order_item{
    display: flex;
    flex-direction: column;
}
.order_info{
    display: flex;
    padding: 3% 3% 0;
	justify-content: space-between;
	align-items: center;
}
.order_info image{
   width: 120rpx;
   height: 120rpx;
   flex-shrink: 0;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:24rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin: 0 0 0 3%;
}
 .applyBtn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid rgba(229,229,229,0.8);
	padding: 2% 0;
}
.applyBtn view {
	width: 50%;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 30rpx;
}
.cell-btn {
	width: 140rpx;
	height: 50rpx;
	color: #FFFFFF;
	background: #20A888;
	border-radius: 40rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28rpx;
	border: 1px solid #20A888;
}
.close {
	border-color: #CCCCCC;
	color: #CCCCCC;
	background: #FFFFFF;
	margin-right: 20rpx;
}
.changeP{
    color:rgba(64, 158, 152, 1);
    background: white;
    border:1px solid rgba(64, 158, 152, 1);
	margin: 0 10rpx 0 ;
}
.returnP{
    color:rgba(255,255,255,1);
    background: rgba(64, 158, 152, 1);
    border:1rpx solid rgba(64, 158, 152, 1);
	margin: 0 10rpx 0 ;
}
.returned{
    color:rgba(204,204,204,1);
    background: rgba(255,255,255,1);
    border:1rpx solid rgba(204,204,204,1);
}
._returned {
	display: flex;
	justify-content: space-between;
	padding: 2% 0;
}
.returnedDetail{
    padding: 2% 0 0;
    display: flex;
    flex-direction: column;
	font-size:24rpx;
	font-family:PingFang SC;
	font-weight:400;
	color:rgba(102,102,102,1);
}
.fold{
    text-align: end;
	padding-right: 20rpx;
	/* margin-top: 30rpx; */
}
.fold .iconfont{
    display: inline-block;
    font-size: 8rpx;
    transform: rotate(-90deg);
}
.detail{
    font-size:24rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    width: 15%;
    text-align: center
}
.detail .iconfont{
    display: inline-block;
    font-size:24rpx;
    transform: rotate(90deg);
    margin: 0 0 0 2%
}
.returning{
    border:1px solid rgba(223,89,89,1);
    background: rgba(255,255,255,1);
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(223,89,89,1);
}
.returning_process{
    display: flex;
    justify-content: space-between;
    padding: 2% 0rpx;
	margin-top: 20rpx;
} 
.answer_content {
	padding: 0 0 0 3%;
}
.answer{
    font-size:24rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    /* width: 80%; */
	flex: 1;
}
.folder{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.toast{
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    background:rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center
}
.toast img{
    width: 15%;
    height: 40px;
    margin:0 0 0 5%
}
.toast_content{
    background: white;
    width: 80%;
    border-radius: 16px;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.productInfo{
    display: flex;
    padding: 2% 0 4%
}
.info_txt{
    display: flex;
    flex-direction: column;
    font-size:24rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,1);
    justify-content: space-between;
    margin: 0 0 0 2%
}
.inputReason{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(244,244,244,1);
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,0.6);
}
.input{
    width:95%;
    border: none;
    background: rgba(244,244,244,1);
    padding: 2% 0 0 0
}
.limit{
    font-size: 0.75rem;
    padding: 2% 3% 0
}
.submit{
    text-align: center;
    font-size:32rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,1);
    padding: 3%
}

button {
	position:relative;
	display:inline-block;
	margin-left:unset;
	margin-right:unset;
	padding-left:25rpx;
	padding-right:25rpx;
	padding-top: 15rpx;
	padding-bottom: 15rpx;
	box-sizing:border-box;
	font-size:28rpx;
	text-align:center;
	text-decoration:none;
	line-height:1;
	border-radius:50rpx;
	-webkit-tap-highlight-color:transparent;
	overflow:hidden;
	color:#000000;
	background-color:#fff;
	border:none
}

.price_shop {
	font-size:24rpx;
	font-family:PingFang SC;
	font-weight:bold;
	color:rgba(0,0,0,1);
	padding: 0 0 0 3%;
	text-align: left;
	display: flex;
	align-items: center;
}

.orderDetail {
	font-size: 24rpx;
	display: flex;
	flex-direction: column;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.orderDetail text{
	padding: 3% 1% 0;
}

.coupon-box {
	background: rgba(255,255,255,1);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size:32rpx;
	font-family:PingFang SC;
	font-weight:400;
	color:rgba(0,0,0,1);
	letter-spacing:1px;
	margin: 0 15rpx;
	border-radius: 28rpx;
}

.coupon-box view {
	padding: 3% 0;
}
.freight {
	font-size: 24rpx;
	margin-left: 30rpx;
}

.cancel {
	margin: 22rpx 15rpx;
	background: #FFFFFF;
	height: 112rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 28rpx;
	font-size: 36rpx;
}
.text {
	height: 60rpx;
	border-bottom: 1px solid #E5E5E5;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D89E63;
	font-size: 24rpx;
	
}
.pay_type {
	height: 60rpx;
	border-bottom: 1px solid #E5E5E5;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32rpx;
}
.after-sale {
	border: 1px solid #DF5959;
	color: #DF5959;
}
