.cartList {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 0 30rpx;
	height: 200rpx;
	background: #ffffff;
	overflow: hidden;
	margin-top: 16rpx;
	.selBtn {
		flex-shrink: 0;
		.iconfont {
			font-size: 50rpx;
		}
		.icon-xuanzhong {
			color: #E84141;
		}
		.icon-weixuanzhong {
			color: #CCCCCC;
		}
	}
	.gmes {
		display: flex;
		align-items: center;
		margin-left: 24rpx;
		flex: 1;
		height: 160rpx;
		.cartImg {
			width: 160rpx;
			height: 100%;
			flex-shrink: 0;
			border-radius:10rpx;
			overflow: hidden;
		}
	}
	.boxCount {
		margin-left: 20rpx;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.flex-box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.gprice {
				color: #E84141;
				font-size: 32rpx;
				font-weight: 700;
			}
			.integration {
				padding: 0 10rpx;
				height: 28rpx;
				border: 1px solid #f092af;
				font-size: 20rpx;
				color: #f092af;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 4rpx;
				box-sizing: border-box;
			}
		}
		.gname {
			font-size: 28rpx;
			@include text-ellipsis(1);
		}
		.line1 {
			@include text-ellipsis(1);
		}
		.sku {
			font-size: 24rpx;
			color: #999999;
		}
	}
}
.countBox {
	display: flex;
	align-items: center;
}

.botomBtn {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: calc(var(--window-bottom));
	box-shadow: #f3f3f3 0rpx -5rpx 10rpx;
	height: 98rpx;
	background: #FFFFFF;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20rpx;
	box-sizing: border-box;
	border-bottom: 1px solid #E5E5E5;
	.icon-xuanzhong {
		font-size: 50rpx;
		color: #E84141;
	}
	.icon-weixuanzhong {
		font-size: 50rpx;
		color: #CCCCCC;
	}
	.price {
		display: flex;
		flex-direction: column;
		align-items: center;
		.fh {
			color: #E84141;
			font-size: 32rpx;
			font-weight: 700;
		}
		.integration {
			padding: 0 10rpx;
			height: 28rpx;
			border: 1px solid #f092af;
			box-sizing: border-box;
			font-size: 20rpx;
			color: #f092af;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.selBtn {
		display: flex;
		align-items: center;
		font-size: 28rpx;
	}
	.yyBtn {
		width: 240rpx;
		height: 78rpx;
		background: #E84141;
		border-radius: 10rpx;
		font-size: 32rpx;
		font-weight: 700;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.icon-icon_reduc_goods {
	color: #CCCCCC;
	font-size: 48rpx;
}
.icon-icon_add_goods {
	color: #000000;
	font-size: 48rpx;
}
.cartNum {
	margin: 0 30rpx;
	font-size: 32rpx;
	font-size: 700;
}
.car-count {
	background: #F7F7F7;
	padding-bottom: 300rpx;
}
.prohibition {
	color: #CCCCCC;
}
.bright-color {
	color: #000000;
}