{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">锁ID：</td> 
					<td>{$info.lock_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">会员ID：</td> 
					<td>{$info.member_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">分享人ID：</td> 
					<td>{$info.auth_member_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">可分享数：</td> 
					<td>{$info.auth_sharelimit}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">有效期起始：</td> 
					<td>{if $info.auth_starttime}{$info.auth_starttime|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">有效期结束：</td> 
					<td>{if $info.auth_endtime}{$info.auth_endtime|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">分享权限：</td> 
					<td><?php echo getFieldVal($info["auth_shareability"],"开启|1,关闭|0");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">备注：</td> 
					<td>{$info.remark}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">创建时间：</td> 
					<td>{if $info.create_time}{$info.create_time|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">可开次数：</td> 
					<td>{$info.auth_openlimit}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">是否管理员：</td> 
					<td><?php echo getFieldVal($info["auth_isadmin"],"是|1|success,否|0|info");?></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
