{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">锁ID：</td> 
					<td>{$info.lock_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">管理员ID：</td> 
					<td>{$info.user_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">卡序列号：</td> 
					<td>{$info.lockcard_sn}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">过期时间：</td> 
					<td>{if $info.lockcard_endtime}{$info.lockcard_endtime|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">持有人：</td> 
					<td>{$info.lockcard_username}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">备注：</td> 
					<td>{$info.lockcard_remark}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">发卡时间：</td> 
					<td>{if $info.lockcard_createtime}{$info.lockcard_createtime|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
