.background {
	width: 100%;
	height: 352rpx;
	background: rgb(33, 207, 62);
	opacity: 0.2;
	box-shadow: 0px 8rpx 374rpx rgb(58, 137, 254);
	filter: blur(120rpx);
	position: absolute;
	top: 0;
	left: 0;
}
.big-box {
	height: 100%;
}
.content {
	position: relative;
	z-index: 10;
	padding-bottom: 100rpx;
	.top-box {
		padding: 36rpx 30rpx 0;
		.cell-item {
			height: 110rpx;
			background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.6) 100%);
			box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.2);
			border-radius:24rpx;
			margin-bottom: 24rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 50rpx;
			.label {
				font-size: 28rpx;
				color: #444444;
			}
			input {
				height: 100%;
				text-align: right;
				font-size: 28rpx;
				flex: 1;
				margin-left: 40rpx;
			}
		}
	}
	.bottom {
		margin: 60rpx 30rpx 60rpx;
		
		.btn {
			height: 90rpx;
			background: rgb(33, 207, 62);
			box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.3);
			border-radius: 100rpx;
			font-size: 28rpx;
			color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.delete {
			margin-top: 40rpx;
			background: #d35b4c;
		}
	}
}
::v-deep .placeholder {
	color: #999999;
}
.flex-box{
	display: flex;
	align-items: center;
	.text {
		font-size: 28rpx;
	}
	image {
		width: 16rpx;
		height: 22rpx;
		margin-left: 30rpx;
	}
}

.share-btn {
	position: initial;
	margin: 0;
	padding: 0;
	line-height: 0;
}