.big-box {
	height: 100%;
	.background {
		width: 100%;
		height: 352rpx;
		background: rgb(33, 207, 62);
		opacity: 0.2;
		box-shadow: 0px 8rpx 374rpx rgb(58, 137, 254);
		filter: blur(120rpx);
		position: absolute;
		top: 0;
		left: 0;
	}
	.content {
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		z-index: 10;
		.top-box {
			margin: 0 30rpx;
			.cell-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 140rpx;
				background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.4) 100%);
				box-shadow: 16rpx 16rpx 66rpx rgba(117, 160, 232, 0.2);
				border-radius: 24rpx;
				margin-top: 36rpx;
				padding: 0 50rpx;
				overflow: hidden;
				image {
					width: 30rpx;
					height: 30rpx;
				}
				.label {
					font-size: 28rpx;
					flex-shrink: 0;
				}
				input {
					text-align: right;
					font-size: 28rpx;
					flex: 1;
					margin-left: 30rpx;
					height: 100%;
				}
				.flex-box {
					display: flex;
					align-items: center;
					height: 100%;
					flex: 1;
					margin-right: 40rpx;
					input {
						text-align: left !important;
						width: 100%;
						font-size: 28rpx;
					}
					image {
						width: 32rpx;
						height: 32rpx;
					}
				}
				.right-box {
					display: flex;
					align-items: center;
					flex: 1;
					height: 100%;
					justify-content: flex-end;
					.text {
						margin-right: 30rpx;
						font-size: 28rpx;
					}
					image {
						width: 16rpx;
						height: 22rpx;
					}
				}
			}
		}
	}
}
/deep/.placeholder {
	font-size: 28rpx;
	color: #999999;
}
.btn-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30rpx;
	.btn {
		width: 330rpx;
		height: 110rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		background: rgb(33, 207, 62);
		border: 1px solid rgb(255, 255, 255);
		box-shadow: 6rpx 6rpx 22rpx rgba(176, 181, 197, 0.49);
		border-radius: 100rpx;
		color: #ffff;
		image {
			width: 20rpx;
			height: 35rpx;
		}
		.icon-default {
			font-size: 40rpx;
		}
		.text {
			margin-left: 4rpx;
			font-size: 28rpx;
		}
	}
	.btn-off {
		background: linear-gradient(90deg, rgb(240, 241, 244) 1.807%, rgb(228, 230, 235) 97.992%);
		border: 1px solid rgb(255, 255, 255);
		box-shadow: inset 12rpx 12rpx 30rpx rgb(176, 181, 197);
		color: #acacac;
	}
}
.play-btn {
	margin-top: 40rpx;
	height: 110rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background: rgb(33, 207, 62);
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 6rpx 6rpx 22rpx rgba(176, 181, 197, 0.49);
	border-radius: 100rpx;
	color: #ffff;
	font-size: 28rpx;
}
