{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='lockcard_id' id='lockcard_id' value="{$info.lockcard_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<input type="hidden" id="lock_id" value="{$Request.get.lock_id}" name="lock_id">
					<div class="form-group">
						<label class="col-sm-2 control-label">卡序列号：</label>
						<div class="col-sm-9">
							<input type="text" id="lockcard_sn" value="" name="lockcard_sn" class="form-control" placeholder="请输入卡序列号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">过期时间：</label>
						<div class="col-sm-9">
							<input type="text" value="{if condition="$info.lockcard_endtime neq ''"}{$info.lockcard_endtime|date='Y-m-d H:i:s'}{else/}{:date('Y-m-d H:i:s')}{/if}" name="lockcard_endtime"  placeholder="请输入过期时间" class="form-control" id="lockcard_endtime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">持有人：</label>
						<div class="col-sm-9">
							<input type="text" id="lockcard_username" value="" name="lockcard_username" class="form-control" placeholder="请输入持有人">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">备注：</label>
						<div class="col-sm-9">
							<input type="text" id="lockcard_remark" value="" name="lockcard_remark" class="form-control" placeholder="请输入备注">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.add()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/admin/LockCard.js?t=<?php echo rand(1000,9999)?>" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js?t=1498856285724" charset="utf-8"></script>
<script src='__PUBLIC__/static/js/plugins/paixu/jquery-migrate-1.1.1.js'></script>
<script src='__PUBLIC__/static/js/plugins/paixu/jquery.dragsort-0.5.1.min.js'></script>
<script>
layui.config({dir: '__PUBLIC__/static/js/plugins/layui/'});
	layui.use(['form'], function () {
	window.form = layui.form();
});
laydate.render({elem: '#lockcard_endtime',type: 'datetime',trigger:'click'});
laydate.render({elem: '#lockcard_createtime',type: 'datetime',trigger:'click'});
</script>


{/block}
