.background {
	width: 100%;
	height: 352rpx;
	background: rgb(33, 207, 62);
	opacity: 0.2;
	box-shadow: 0px 8rpx 374rpx rgb(58, 137, 254);
	filter: blur(120rpx);
	position: absolute;
	top: 0;
	left: 0;
}
.content {
	position: relative;
	z-index: 20;
	padding-bottom: 100rpx;
	.cell-item {
		height:110rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 50rpx;
		border-bottom: 2rpx solid #e5e5e5;
		&:last-child {
			border: none;
		}
		.label {
			color: #444444;
			font-size: 28rpx;
		}
		.value {
			font-size: 28rpx;
			opacity: 0.7;
		}
	}
}