{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>开门时段</h5>
				<button style="float:right; margin-top:-10px;" title="刷新页面" type="button" class="btn btn-default btn-outline" onclick="window.location.reload()" id="">
					<i class="fa fa-refresh"></i>
				</button>
			</div>
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">时段名称</button>
									</div>
									<input type="text" class="form-control" id="locktimesname" placeholder="时段名称" />
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-2">
									<button type="button" class="btn btn-primary " onclick="CodeGoods.search()" id="">
										<i class="fa fa-search"></i>&nbsp;搜索
									</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						{if condition="in_array('/admin/Locktimes/add',session('admin.nodes')) || session('admin.role') eq 1"}
						<button type="button" id="add" class="btn btn-primary button-margin" onclick="CodeGoods.add()">
						<i class="fa fa-plus"></i>&nbsp;添加
						</button>
						{/if}
						{if condition="in_array('/admin/Locktimes/update',session('admin.nodes')) || session('admin.role') eq 1"}
						<button type="button" id="update" class="btn btn-success button-margin" onclick="CodeGoods.update()">
						<i class="fa fa-pencil"></i>&nbsp;修改
						</button>
						{/if}
						{if condition="in_array('/admin/Locktimes/delete',session('admin.nodes')) || session('admin.role') eq 1"}
						<button type="button" id="delete" class="btn btn-danger button-margin" onclick="CodeGoods.delete()">
						<i class="fa fa-trash"></i>&nbsp;删除
						</button>
						{/if}
						{if condition="in_array('/admin/Locktimes/view',session('admin.nodes')) || session('admin.role') eq 1"}
						<button type="button" id="view" class="btn btn-info button-margin" onclick="CodeGoods.view()">
						<i class="fa fa-plus"></i>&nbsp;查看数据
						</button>
						{/if}
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'locktimes_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '时段名称', field: 'locktimesname', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '管理员ID', field: 'user_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '锁ID', field: 'lock_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '类型', field: 'type', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.typeFormatter},
 			{title: '周开始', field: 'startweek', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.startweekFormatter},
 			{title: '小时开始', field: 'starthour', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.starthourFormatter},
 			{title: '分钟开始', field: 'startminute', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.startminuteFormatter},
 			{title: '周结束', field: 'endweek', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.endweekFormatter},
 			{title: '小时结束', field: 'endhour', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.endhourFormatter},
 			{title: '分钟结束', field: 'endminute', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.endminuteFormatter},
 			{title: '创建时间', field: 'create_time', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.create_timeFormatter},
 			{title: '操作', field: '', visible: true, align: 'center', valign: 'middle',formatter: 'CodeGoods.buttonFormatter'},
 		];
 	};

	CodeGoods.buttonFormatter = function(value,row,index) {
		if(row.locktimes_id){
			var str= '';
			{if condition="in_array('/admin/Locktimes/update',session('admin.nodes')) || session('admin.role') eq 1"}
			str += '<button type="button" class="btn btn-success btn-xs" title="修改"  onclick="CodeGoods.update('+row.locktimes_id+')"><i class="fa fa-pencil"></i>&nbsp;修改</button>&nbsp;';
			{/if}
			{if condition="in_array('/admin/Locktimes/delete',session('admin.nodes')) || session('admin.role') eq 1"}
			str += '<button type="button" class="btn btn-danger btn-xs" title="删除"  onclick="CodeGoods.delete('+row.locktimes_id+')"><i class="fa fa-trash"></i>&nbsp;删除</button>&nbsp;';
			{/if}
			return str;
		}
	}

	CodeGoods.typeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '锁可用时段';
				break;
				case '2':
					return '钥匙可用时段';
				break;
			}
		}
	}

	CodeGoods.startweekFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '周一';
				break;
				case '2':
					return '周二';
				break;
				case '3':
					return '周三';
				break;
				case '4':
					return '周四';
				break;
				case '5':
					return '周五';
				break;
				case '6':
					return '周六';
				break;
				case '7':
					return '周日';
				break;
			}
		}
	}

	CodeGoods.starthourFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '0':
					return '0:00';
				break;
				case '1':
					return '1:00';
				break;
				case '2':
					return '2:00';
				break;
				case '3':
					return '3:00';
				break;
				case '4':
					return '4:00';
				break;
				case '5':
					return '5:00';
				break;
				case '6':
					return '6:00';
				break;
				case '7':
					return '7:00';
				break;
				case '8':
					return '8:00';
				break;
				case '9':
					return '9:00';
				break;
				case '10':
					return '10:00';
				break;
				case '11':
					return '11:00';
				break;
				case '12':
					return '12:00';
				break;
				case '13':
					return '13:00';
				break;
				case '14':
					return '14:00';
				break;
				case '15':
					return '15:00';
				break;
				case '16':
					return '16:00';
				break;
				case '17':
					return '17:00';
				break;
				case '18':
					return '18:00';
				break;
				case '19':
					return '19:00';
				break;
				case '20':
					return '20:00';
				break;
				case '21':
					return '21:00';
				break;
				case '22':
					return '22:00';
				break;
				case '23':
					return '23:00';
				break;
			}
		}
	}

	CodeGoods.startminuteFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '0':
					return '0';
				break;
				case '5':
					return '5';
				break;
				case '10':
					return '10';
				break;
				case '15':
					return '15';
				break;
				case '20':
					return '20';
				break;
				case '25':
					return '25';
				break;
				case '30':
					return '30';
				break;
				case '35':
					return '35';
				break;
				case '40':
					return '40';
				break;
				case '45':
					return '45';
				break;
				case '50':
					return '50';
				break;
				case '55':
					return '55';
				break;
				case '59':
					return '59';
				break;
			}
		}
	}

	CodeGoods.endweekFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '周一';
				break;
				case '2':
					return '周二';
				break;
				case '3':
					return '周三';
				break;
				case '4':
					return '周四';
				break;
				case '5':
					return '周五';
				break;
				case '6':
					return '周六';
				break;
				case '7':
					return '周日';
				break;
			}
		}
	}

	CodeGoods.endhourFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '0':
					return '0:00';
				break;
				case '1':
					return '1:00';
				break;
				case '2':
					return '2:00';
				break;
				case '3':
					return '3:00';
				break;
				case '4':
					return '4:00';
				break;
				case '5':
					return '5:00';
				break;
				case '6':
					return '6:00';
				break;
				case '7':
					return '7:00';
				break;
				case '8':
					return '8:00';
				break;
				case '9':
					return '9:00';
				break;
				case '10':
					return '10:00';
				break;
				case '11':
					return '11:00';
				break;
				case '12':
					return '12:00';
				break;
				case '13':
					return '13:00';
				break;
				case '14':
					return '14:00';
				break;
				case '15':
					return '15:00';
				break;
				case '16':
					return '16:00';
				break;
				case '17':
					return '17:00';
				break;
				case '18':
					return '18:00';
				break;
				case '19':
					return '19:00';
				break;
				case '20':
					return '20:00';
				break;
				case '21':
					return '21:00';
				break;
				case '22':
					return '22:00';
				break;
				case '23':
					return '23:00';
				break;
			}
		}
	}

	CodeGoods.endminuteFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '0':
					return '0';
				break;
				case '5':
					return '5';
				break;
				case '10':
					return '10';
				break;
				case '15':
					return '15';
				break;
				case '20':
					return '20';
				break;
				case '25':
					return '25';
				break;
				case '30':
					return '30';
				break;
				case '35':
					return '35';
				break;
				case '40':
					return '40';
				break;
				case '45':
					return '45';
				break;
				case '50':
					return '50';
				break;
				case '55':
					return '55';
				break;
				case '59':
					return '59';
				break;
			}
		}
	}

	CodeGoods.create_timeFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['locktimesname'] = $("#locktimesname").val();
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.add = function (value) {
		var url = location.search;
		var index = layer.open({type: 2,title: '添加',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Locktimes/add'+url});
		this.layerIndex = index;
		if(!IsPC()){layer.full(index)}
	}


	CodeGoods.update = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '修改',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Locktimes/update?locktimes_id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.locktimes_id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '修改',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Locktimes/update?locktimes_id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.delete = function (value) {
		if(value){
			Feng.confirm("是否删除选中项？", function () {
				var ajax = new $ax(Feng.ctxPath + "/Locktimes/delete", function (data) {
					if ('00' === data.status) {
						Feng.success(data.msg);
						CodeGoods.table.refresh();
					} else {
						Feng.error(data.msg);
					}
				});
				ajax.set('locktimes_ids', value);
				ajax.start();
			});
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.locktimes_id;
				});
				idx = idx.substr(1);
				Feng.confirm("是否删除选中项？", function () {
					var ajax = new $ax(Feng.ctxPath + "/Locktimes/delete", function (data) {
						if ('00' === data.status) {
							Feng.success(data.msg);
							CodeGoods.table.refresh();
						} else {
							Feng.error(data.msg);
						}
					});
					ajax.set('locktimes_ids', idx);
					ajax.start();
				});
			}
		}
	}


	CodeGoods.view = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '查看数据',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Locktimes/view?locktimes_id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.locktimes_id;
				});
				idx = idx.substr(1);
				var index = layer.open({type: 2,title: '查看数据',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Locktimes/view?locktimes_id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/Locktimes/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
</script>
{/block}