{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='member_id' id='member_id' value="{$info.member_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">呢称：</label>
						<div class="col-sm-9">
							<input type="text" id="nickname" value="{$info.nickname}" name="nickname" class="form-control" placeholder="请输入呢称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">头像：</label>
						<div class="col-sm-6">
							<input type="text" id="headimgurl" value="{$info.headimgurl}" {if condition="config('my.img_show_status') eq true"}onmousemove="showBigPic(this.value)" onmouseout="closeimg()"{/if} name="headimgurl" class="form-control" placeholder="请输入头像">
							<span class="help-block m-b-none headimgurl_process"></span>
						</div>
						<div class="col-sm-2" style="position:relative; right:30px;">
							<span id="headimgurl_upload"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">openid：</label>
						<div class="col-sm-9">
							<input type="text" id="openid" value="{$info.openid}" name="openid" class="form-control" placeholder="请输入openid">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">手机号：</label>
						<div class="col-sm-9">
							<input type="text" id="mobile" value="{$info.mobile}" name="mobile" class="form-control" placeholder="请输入手机号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">用户名：</label>
						<div class="col-sm-9">
							<input type="text" id="username" value="{$info.username}" name="username" class="form-control" placeholder="请输入用户名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">注册时间：</label>
						<div class="col-sm-9">
							<input type="text" value="{if condition="$info.create_time neq ''"}{$info.create_time|date='Y-m-d H:i:s'}{else/}{:date('Y-m-d H:i:s')}{/if}" name="create_time"  placeholder="请输入注册时间" class="form-control" id="create_time">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">性别：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['sex'])){ $info['sex'] = 1; }; ?>
							<input name="sex" value="1" type="radio" {if condition="$info.sex eq '1'"}checked{/if} title="男">
							<input name="sex" value="2" type="radio" {if condition="$info.sex eq '2'"}checked{/if} title="女">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['status'])){ $info['status'] = 1; }; ?>
							<input name="status" value="1" type="radio" {if condition="$info.status eq '1'"}checked{/if} title="开启">
							<input name="status" value="0" type="radio" {if condition="$info.status eq '0'"}checked{/if} title="关闭">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/admin/Member.js?t=<?php echo rand(1000,9999)?>" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js?t=1498856285724" charset="utf-8"></script>
<script src='__PUBLIC__/static/js/plugins/paixu/jquery-migrate-1.1.1.js'></script>
<script src='__PUBLIC__/static/js/plugins/paixu/jquery.dragsort-0.5.1.min.js'></script>
<script>
layui.config({dir: '__PUBLIC__/static/js/plugins/layui/'});
	layui.use(['form'], function () {
	window.form = layui.form();
});
uploader('headimgurl_upload','headimgurl','image',false,'','{:url("admin/Upload/uploadImages")}');
laydate.render({elem: '#create_time',type: 'datetime',trigger:'click'});
</script>


{/block}
