{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">呢称：</td> 
					<td>{$info.nickname}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">头像：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.headimgurl}')"><img height="75" src="{$info.headimgurl}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">openid：</td> 
					<td>{$info.openid}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">手机号：</td> 
					<td>{$info.mobile}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">用户名：</td> 
					<td>{$info.username}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">注册时间：</td> 
					<td>{if $info.create_time}{$info.create_time|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">性别：</td> 
					<td><?php echo getFieldVal($info["sex"],"男|1|success,女|2|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">状态：</td> 
					<td><?php echo getFieldVal($info["status"],"开启|1,关闭|0");?></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
