.big-box {
	position: relative;
	height: 100%;
	.background {
		width: 100%;
		height: 352rpx;
		background: rgb(33, 207, 62);
		opacity: 0.2;
		box-shadow: 0px 8rpx 374rpx rgb(58, 137, 254);
		filter: blur(120rpx);
		position: absolute;
		top: 0;
		left: 0;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.cell-box {
	    width: 25%;
	    box-sizing: border-box;
	    padding: 25rpx 29rpx;
	    display: flex;
	    flex-direction: column;
	    align-items: center; /* 水平居中 */
	    justify-content: flex-start;
	
	    .iconfont {
	      font-size: 70rpx;
	      color: #21CF3E;
	    }
	
	    .text {
	      font-size: 28rpx;
	      margin-top: 6rpx;
	      color: #888;
	    }
	  }
	}
.icon-image {
  width: 48px;
  height: 48px;
  object-fit: contain; /* 确保图像不会失真 */
}
